.bigcontainer {
    display: flex;
    flex-direction: row;

}

.top {
    width: calc(100% - 0px);
    height: 10px;
    margin-left: 5px;
    background-color: black;
    transform: skewX(-45deg);
    z-index: -1;
}

.right {
    width: calc(1rem - 6px);
    height: calc(18rem + 4px);
    background-color: black;
    transform: skewY(-35deg);
    z-index: -1;
    display: flex;
    align-self: flex-end;
    margin-bottom: 3px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26rem;
    height: 18rem;
    background-color: white;
    border-bottom-left-radius: 20%;
}

.circleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.circle {
    margin: 10% 0;
    height: 1rem;
    width: 1rem;
    background-color: #D9D9D9;
    border-radius: 1rem;
}

.innerContainer {
    display: flex;
    flex-wrap: wrap;
    width: 23rem;
    height: 14rem;
    background-color: grey;
    border-bottom-left-radius: 20%;
}



.bigCircle {
    align-self: flex-start;
    height: 1.2rem;
    width: 1.2rem;
    background-color: #D9D9D9;
    border-radius: 1.2rem;
    margin: 0rem 0 1.5rem 2rem;
}