.pageContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Center content horizontally */
}

.battleSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.columnContainer {
    width: 490px; /* Adjust width as needed */
}

.column {
    display: none; /* Initially hidden */
}

.visible {
    display: block; /* Visible */
}

.battleLog {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: scroll;
    background: #f0f0f0;
    padding: 20px 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px;
    max-height: 100px;
}

.healthRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;
}