.pageContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pageTitle {
    text-align: center;
}

.battleSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}