.PokemonCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Cardrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
}
.Image {
    margin: 10px;
}