.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-family: 'Pokemon Classic', sans-serif;
  margin: 5rem 0;
}

.title {
  text-align: center;
  font-family: 'Pokemon Classic', sans-serif;
}

.intro,
.battle,
.pokedex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: 'Pokemon Classic', sans-serif;
  height: 50vh;
  align-items: center;
  margin-bottom: 5em;
}

.introContent,
.battleContent,
.pokedexContent {
  width: 40%;
}

.content {
  margin: 3rem 0;
  width: 70%
}

.button {
  display: flex;
  margin-top: 2em;
}

.screenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 3rem 0;
}

/* Mobile */
@media only screen and (max-width: 1000px) {

  .intro,
  .battle,
  .pokedex {
    flex-direction: column-reverse;
    align-items: center;
    height: auto;

  }

  .introContent,
  .battleContent,
  .pokedexContent {
    width: 70%;
    text-align: center;
  }

  .introContent h1,
  .battleContent h1,
  .pokedexContent h1 {
    font-size: 20px;
  }

  .introContent p,
  .battleContent p,
  .pokedexContent p {
    font-size: 15px;
  }


  .button {
    justify-content: center;
  }

}