.container {
    font-family: 'Pokemon Classic', sans-serif;
    text-align: center;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 5%;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

.buttonContainer {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}