.footer {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: var(--primary-color);
    padding: 1rem 2rem;
}

/* .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
} */
  
.footerTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--font-color);
}

.logo {
    height: 43px;
    width: 34px;
    margin-bottom: 1rem;
}

.copyright {
    font-weight: 100;
    font-size: 10px !important;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 150px;
}

.right a {
    text-decoration: none;
    color: var(--font-color);
}

.right p {
    font-size: 12px;
    font-weight: 100;
    margin: 0;
    text-decoration: none;
}